*{
	padding: 0;
	margin: 0;
}


.wrapper{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.center{
	padding-right: calc(50% - 570px);
	padding-left: calc(50% - 570px);
}
.header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.cart-button{
	background-color: rgba(92,155,240,1);
	border: 1px solid #000;
	color: #fff;
	border-radius: 40px;
	padding: 3px 12px;
	margin:  5px;
	cursor: pointer;
}


.main{
	flex-grow: 1;
}
.goods-list {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.goods-item {
    border: 1px solid wheat;
    width: 150px;
    box-sizing: border-box;
    padding: 0px 20px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    text-align: center;
}
.goods-item img{
	height: 64px;
	width: 64px;
}
.goods-item h3{
	font-size: 24px;
}
.goods-item p{
	font-size: 18px;
}
.goods-item button{
	font-size: 18px;
	background-color: rgba(92,155,240,1);
	border: 1px solid #000;
	color: #fff;
	border-radius: 40px;
	padding: 3px 12px;
}